streamlit==1.28.1
pandas==1.5.3
pandasai==1.5.8
plotly==5.17.0
altair==5.1.2
streamlit-option-menu==0.3.6
streamlit-authenticator==0.2.3
python-dotenv==1.0.0
faker>=19.12.0,<20.0.0
datetime
streamlit-aggrid==0.3.4
streamlit-echarts==0.4.0
streamlit-card==0.0.6
streamlit-timeline==0.0.3
streamlit-plotly-events==0.0.6 